*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    scroll-behavior: smooth;
 }

 body{
    display: flex;
    flex-direction: column;
    background-image:url("IMAGENS/universo-unscreen.gif");
    background-blend-mode: lighten;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.487);
    background-position: top;
    background-position: center;
}

header{
    background-color: #000000AA;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 50px 0px 50px;
}

.logo img{
    width: 180px;
    margin-left: 100px;
}


.menu ul{
    display: flex;
    float: none;
    gap: 20px;
    list-style-type: none;
}

.menu a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
    user-select: none;
 }
 
.menu a:hover{
    transition: all 0.5s;
    border-left: 7px solid rgba(149, 0, 255, 0.726);
}

.b1{
    margin-right: 100px;
    color: rgb(255, 255, 255);
    border-style: groove;
    border-color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0);
    font-size: 20px;
    width: 180px;
    height: 40px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    transition: box-shadow .5s linear;
}

.b1:hover{
    transition: all 2s;
    background-color: rgba(60, 1, 102, 0.726);
 }

main{
    margin: 0px 50px 0px 50px;
    background-color: #000000AA;
    color: white;
}

.resumo h1{
    display: flex;
    margin: 50px 50px 0px 232px;
    max-width: 800px;
    position: relative;
    font-size: 35px;
    text-align: center;
    font-family: 'Days One', sans-serif;
}

.resumo img{
    margin: 40px 50px 30px 580px;
    width: 90px;
    transform: rotate(90deg);
}

.resumo p{
    margin: 40px 50px 30px 210px;
    max-width: 800px;
    font-size: 30px;
    text-align: center;
}

.videoRESUMO {
    margin: 50px 0px 0px 330px;
}

.videoRESUMO p {
    margin: 50px 0px 100px -100px;
}

.sop{
    margin: 0px 50px 0px 50px;
    background-color: rgba(255, 255, 255, 0.316);
    color: black;
    position: relative;
    border-color: black;
    border-width: 100px;
    border-radius: 20px;
}

.sop h1{
    display: flex;
    width: 10px;
    margin: 20px 50px 30px 410px; 
    position: relative;
    font-size: 120px;
    font-family: 'Days One', sans-serif;
}

.sop h2{
    font-size: 52px;
}

.sop1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 100px 10px 100px; 
}

.sop2{
    margin: 0px 100px 100px 100px; 
}

.videoSOP2 {
    display: flex;
    justify-content: space-between;
}

.videoSOP{
    margin: 0px 10px 0px 10px; 
}
.videoSOP p{
    text-align: center;
    margin: 0px 10px 0px 10px; 
}

.sopV1{
    justify-content: space-between;
}

.sop p{
    font-size: 20px;
    max-width: 400px;
    padding: 22px 0px 30px;
}

.sopV2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px 0px 25px 0px; 
}

.sopV2 p{
    text-align: center;
    max-width: 600px;
}


.sopV3{
    margin: 0px 0px 25px 0px; 
}

.lima{
    margin: 0px 50px 0px 50px;
    background-color:rgba(12, 33, 197, 0.316);
    color: white;
    position: relative;
    border-color: black;
    border-width: 100px;
    border-radius: 20px;
}

.lima h1{
    display: flex;
    width: 10px;
    margin: 20px 50px 30px 400px; 
    position: relative;
    font-size: 120px;
    font-family: 'Days One', sans-serif;
}

.lima1{
    text-align: center;
    margin: 10px 100px 10px 100px; 
}

.lima2{
    margin: 10px 100px 10px 100px; 
}

.limaI1{
    margin: 10px 0px 10px 10px; 
}

.lima1 h2{
    font-size: 52px;
}

.lima2 h2{
    font-size: 52px;
}

.lima1 h2{
    font-size: 52px;
}

.infAdicional h2{
    text-align: center;
    max-width: 500px;
    font-size: 30px;
    margin: 40px 10px 0px 20px;
}

.infAdicional{
    display: flex;
    flex-direction: row;
}

.seta2{
    transform: rotate(140deg); 
    margin: 40px 50px 0px 40px;
}

.seta3{
    transform: rotate(-40deg); 
    margin: 40px 50px 0px 0px;
}

.competenciasLIMA {
    display: flex;
    justify-content: space-between;
}

.competenciasLIMA img{
    width: 500px;
}

.lima p{
    font-size: 20px;
    padding: 10px 0px 20px;
}

.limaI1 img{
    width: 500px;
}

.limaIV2 {
    display: flex;
    flex-direction: column;
    margin: 100px 50px 30px 30px;
    max-width: 900px;
}

.limaIV2 img{
    width: 900px;
    display: flex;
}

.lima iframe{
    margin: 100px 50px 30px 0px; 
}

.fpoo{
    margin: 0px 50px 0px 50px;
    background-color: rgba(255, 255, 255, 0.316);
    color: black;
    position: relative;
    border-color: black;
    border-width: 100px;
    border-radius: 20px;
}

.fpoo h1{
    display: flex;
    width: 10px;
    margin: 20px 50px 30px 380px; 
    position: relative;
    font-size: 120px;
    font-family: 'Days One', sans-serif;
}

.fpoo1{
    text-align: center;
    margin: 10px 100px 10px 100px;
}


.fpoo h2{
    font-size: 52px;
}

.fpoo2{
    margin: 10px 100px 10px 100px;
}

.fpoo p{
    font-size: 20px;
    padding: 20px 0px 20px;
}

.fpooH2{
    text-align: center;
}

.textoFPOO{
    display: flex;
    flex-direction: row;
}

.text1 {
    max-width: 500px;
}

.imagem1{
    width: 500px;
}

.videofpoo{
    margin: 0px 100px 0px -300px; 
    width: 1000px;
}

.imagem2{
    width: 500px;
    margin: 0px 0px 20px 0px;
}

.infAdicionalFPOO h2{
    text-align: center;
    max-width: 500px;
    font-size: 30px;
    margin: -70px 10px 0px -50px;
}
.setaBranca img{
    transform: rotate(-90deg);
    margin: 10px 10px 0px 150px;
    width: 90px;
}

.hare{
    margin: 0px 50px 0px 50px;
    background-color:rgba(12, 33, 197, 0.316);
    color: white;
    position: relative;
    border-color: black;
    border-width: 100px;
    border-radius: 20px;
}

.hare1{
    align-items: center;
}

.hare h1{
    display: flex;
    width: 10px;
    margin: 20px 50px 30px 380px; 
    position: relative;
    font-size: 120px;
    font-family: 'Days One', sans-serif;
}

.imagemHARE img{
    margin: 20px 100px 30px 0px; 
    width: 500px;
}

.hare1{
    margin: 10px 100px 10px 100px;
    text-align: center;
}

.hare2 {
    display: flex;
    justify-content: space-between;
    margin: 10px 0px 10px 100px;
}

.textoHARE{
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

.hare h2{
    font-size: 52px;
    margin: 10px 100px 10px 100px;
}

.hare p{
    font-size: 20px;
    padding: 20px 0px 20px;
}

footer{
    margin: 0px 50px 50px 50px;
    background-color: #000000AA;
    color: white;
    text-align: center;
    font-size: 25px;
}

footer p{
    margin: 50px 50px 50px 50px;
}